.sidebar::-webkit-scrollbar,
.lyrics-container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.segundo {
    color:#cb4fb9 !important;
}

@media (max-width: 768px) {
    .ultimos-mobile {
        display: none;
    }

    .albuns {
        margin-bottom: 10vh;
    }
}


