@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
    overflow-x: hidden;
}

.music-bars {
    display: flex;
    align-items: end;
    height: 16px;
    gap: 2px;
}

.music-bar {
    width: 2px;
    background-color: white;
    animation: musicBarAnimation 1s ease infinite alternate;
}

.music-bar:nth-child(2) {
    animation-delay: 0.2s;
}

.music-bar:nth-child(3) {
    animation-delay: 0.4s;
}

.music-bar:nth-child(4) {
    animation-delay: 0.6s;
}

@keyframes musicBarAnimation {
    from { height: 4px; }
    to { height: 16px; }
}

.lyrics-container {
    transition: padding 0.3s ease;
}

.lyric-line {
    transition: all 0.3s ease;
    padding: 12px 0;
    min-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.lyric-line.active {
    color: #ec4899;
    font-weight: 600;
    transform: scale(1.05);
    background: linear-gradient(45deg, #ec4899, #8b5cf6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.sidebar {
    width: 320px;
    height: auto;
    min-height: 40vh;
    max-height: calc(100vh - 65px); 
    border-right: 1px solid #4a4a4a;
    overflow-y: auto;
    position: sticky;
    top: 65px;      
    z-index: 40;
}
.play-controls-mobile {
    display: none;
}

.paused .music-bar {
    animation-play-state: paused;
}

.paused .music-bars span {
    display: none;
}

/* Responsividade */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        
        border-right: none;
        position: relative;
        top: 0;
    }
    
    .desktop-controls {
        display: none;
    }

    
    .lyrics-container {
        background-color: #111827;
        transition: padding 0.3s ease;
    }

    
    .play-controls-mobile {
        z-index: 999;
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        border-top: 1px solid #3a3a3a;
        border-bottom: 1px solid #1c1c1c;
        padding: 12px 16px;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1);
    }
    
    .now-playing-mobile {
        display: flex;
        align-items: center;
        flex: 1;
        min-width: 0;
    }
    
    .now-playing-info {
        margin-left: 12px;
        min-width: 0;
        overflow: hidden;
    }
    
    .now-playing-info h4 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
        font-weight: 600;
    }
    
    .now-playing-info p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
        color: #6b7280;
    }
    
    .mobile-control-buttons {
        display: flex;
        align-items: center;
    }

}


